@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-width-container: 1715px;
}

html {
  font-size: 62.5%;
  /* changes a default 16px font size to 10px */
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/font/SF-Pro-Display-Regular.otf");
}
body {
  font-family: "SF Pro Display";
  background-color: #ebe8e8;
  height: 100%;
}

input:focus {
  outline: none;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--main-width-container);
  padding-top: 75px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8470588235);
  box-shadow: 5px 5px 5px 5px rgba(31, 31, 31, 0.2);
}
.main .banner {
  max-width: 100%;
  height: 408px;
  max-height: 408px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.main .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  letter-spacing: 0px;
  color: #000;
}
.main .description {
  font-size: 16px;
  text-align: left;
  color: #333;
  line-height: 24px;
  letter-spacing: 0px;
  padding-right: 10px;
}
.main .session {
  padding-top: 10px;
  padding-left: 20px;
  background: #fff;
  padding-bottom: 20px;
}
.main .introduce {
  margin-top: 30px;
  padding-left: 10px;
  background: #fff;
  height: 518px;
}
.main .introduce .container {
  overflow-x: hidden;
}
.main .introduce .container .row {
  flex-wrap: nowrap;
  width: 1705px;
}
.main .container-card-index {
  margin: 0px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main .card {
  width: 284px;
  height: 352px;
}
.main .card.ct {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}
.main .card.ct .card-img-top {
  background-position: center center !important;
  background-size: cover !important;
}
.main .card.ct .img-star {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -2px;
  left: -5px;
}
.main .card.ct .highting {
  position: absolute;
  width: 90%;
  background: #fff;
  display: flex;
  align-items: center;
  top: 66%;
  margin-left: 20px;
  height: 24px;
  color: #000;
  border-radius: 20px;
}
.main .card.ct .highting img {
  width: 14px;
  height: 14px;
  margin: 0 5px;
}
.main .card.ct .highting p {
  width: 100%;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .card.ct .highting:nth-of-type(2) {
  top: 83%;
}
.main .card.ct .card-name {
  color: #fccf00;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.main .card.ct .card-title {
  color: #082346;
  font-size: 1.65rem;
  line-height: 22px;
}
.main .card.ct .card-text {
  line-height: 18px;
  height: 37px;
}
.main .card.ct .card-author {
  margin-top: 5px;
  color: #000;
  font-size: 1.2rem;
}
.main .card.ct .price-container {
  display: flex;
  margin-top: 7px;
}
.main .card.ct .price-container .price {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}
.main .card.ct .price-container .price::after {
  content: "₫";
  font-size: 2rem;
}
.main .card.ct .price-container .price-fake {
  font-size: 1.5rem;
  color: #757575;
  text-decoration: line-through;
}
.main .container-new-cource,
.main .container-best-sold,
.main .container-english {
  overflow-x: hidden;
}
.main .row-new-cource,
.main .row-best-sold,
.main .row-english {
  width: 1705px;
}
.main .cource-highting .tab-content {
  margin-top: 20px;
  padding-left: 10px;
}
.main .cource-highting .tab-content .highting:nth-of-type(1) {
  visibility: hidden;
}
.main .cource-highting .tab-content .highting:nth-of-type(2) {
  top: 80% !important;
  background-color: #06c167;
  color: #fff;
  margin-left: 10px;
}

.box-felling {
  display: grid;
}
.box-felling .title-box-felling p {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  color: #000;
}

.card-box-felling {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.owl-item {
  width: 306.667px;
  margin-right: 10px;
}

.item-feedback {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-icon {
  text-align: center;
  margin-bottom: 25px;
  display: inline-block;
}
.quote-icon svg {
  width: 25px;
}

.hachium {
  text-align: center;
}

.feedback-ava {
  border: 2px solid #ebb129;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.description-fell {
  font-size: 14px;
  text-align: center;
  color: #69727b;
  line-height: 1.5;
  margin-bottom: 25px;
}

.name_learner {
  font-size: 14px;
}

@media (max-width: 1324px) {
  .card-box-felling {
    display: block;
  }
}
.btn {
  /* min-width: 100px; */
  background-color: var(--color-yellow);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  background-color: transparent;
  border: 1px solid black;
  transition: all 0.3s linear;
  user-select: none;
  cursor: pointer;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
  flex-wrap: nowrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.col-lg-16pt {
  width: 330px !important;
  min-height: 30px;
  margin: 5px;
}

.col-lg-12 {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.card {
  width: 100%;
  position: relative;
  display: block;
}

.card-img-top {
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #333333;
}

.card-text {
  height: 30px;
  margin-top: 10px;
  color: #7e7e7e;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.tab-container {
  margin-top: 15px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.tab-container .tab-tilte {
  display: flex;
  border-bottom: 4px solid #ebebeb;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
}
.tab-container .tab-tilte .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #393f4d;
  min-width: 160px;
  height: 48px;
  text-align: center;
  padding: 6px 12px;
}
.tab-container .tab-tilte .active {
  color: #c89f65;
}
.tab-container .tab-tilte .active::before {
  display: block;
}
.tab-container .tab-tilte .tool {
  display: block;
  width: 100%;
  height: 5px;
  background: #000;
  position: absolute;
  top: 99%;
  left: 0;
  background-color: #c89f65;
}
.tab-container .tab-list {
  overflow-x: hidden;
  position: relative;
  height: 451px;
  width: 1705px;
  margin-bottom: 10px;
}
.tab-container .navigate {
  position: absolute;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.tab-container .navigate.right {
  top: 50%;
  right: 2px;
}
.tab-container .navigate.left {
  top: 50%;
  left: -10px;
}

/*# sourceMappingURL=base.css.map */
