@import "main";

footer {
  width: 100%;
  background: #212121;
  min-height: 426px;

  .title {
    font-size: 1.4rem;
    color: #C89F65;
    margin-bottom: 10px;
  }
  .list {
    display: flex;
    flex-direction: column;
    .item {
    margin: 10px 0px;
    font-size: 1.2rem;
    color: #fff;
    }
  }
  .footer-container {
    max-width: var(--main-width-container);
    height: 100%;
    margin: 0 auto;
    .society {
      display: flex;
      flex-wrap: wrap;
      height: 80%;
      padding-top: 20px;
      .about-us , .community , .app{
        width: 160px;
        img {
          margin-top: 70px;
          width: 132px;
        }
      }
      div {
        height: 100%;
        margin: 5px;
      }
      .address {
        max-width: 550px;

        .fb , .yt {
         display: inline-block;
         margin-right: 10px;
         margin-top: 10px;
         width: 40px;
         height: 40px;
        }

      }
      .app {
        #emFtAppStore , #emFtPlayStore {
         width: 150px;
         height: 46px;
         display: inline-flex;
         color: #fff;
         border: 1px solid #fff;
         margin-left: 10px;
         padding-top: 5px;
         padding-left: 5px;
         background-color: #000;
         border-radius: 5px;
         .name  {
          font-size: 1rem;
         }
         .description {
           font-weight: bold;
           font-size: 1.5rem;
         }
        }
        .MuiSvgIcon-root {
          display: inline-block;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .end {
    border-top: 1px solid #747474; ;
    color: #747474;
    font-size: 1.3rem;
    padding-top: 20px;
  }
}
 @media (max-width: 1324px) {
    .society{
      padding: 10px 10px;
    }
}