* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-width-container: 1715px;
}

html {
  font-size: 62.5%;
  /* changes a default 16px font size to 10px */
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/font/SF-Pro-Display-Regular.otf');
}

body {
  font-family: 'SF Pro Display';
  background-color: #ebe8e8;
  height: 100%;
}

input:focus {
  outline: none;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--main-width-container);
  padding-top: 75px;
  position: relative;
  background-color: #ffffffd8;
  box-shadow: 5px 5px 5px 5px rgba(31, 31, 31, 0.2);

  .banner {
    max-width: 100%;
    height: 408px;
    max-height: 408px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    letter-spacing: 0px;
    color: #000;
  }

  .description {
    font-size: 16px;
    text-align: left;
    color: #333;
    line-height: 24px;
    letter-spacing: 0px;
    padding-right: 10px;
  }

  .session {
    padding-top: 10px;
    padding-left: 20px;
    background: #fff;
    padding-bottom: 20px
  }

  .introduce {
    margin-top: 30px;
    padding-left: 10px;
    background: #fff;
    height: 518px;

    .container {
      overflow-x: hidden;

      .row {
        flex-wrap: nowrap;
        width: 1705px;
      }
    }
  }

  .container-card-index {
    margin: 0px 15px;
    padding-top: 10px;
    padding-bottom: 10px
  }

  .card {
    width: 284px;
    height: 352px;
  }

  .card.ct {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin-top: 20px;

    .card-img-top {
      background-position: center center !important;
      background-size: cover !important;
    }

    .img-star {
      position: absolute;
      width: 120px;
      height: 120px;
      top: -2px;
      left: -5px;
    }

    .highting {
      position: absolute;
      width: 90%;
      background: #fff;
      display: flex;
      align-items: center;
      top: 66%;
      margin-left: 20px;
      height: 24px;
      color: #000;

      img {
        width: 14px;
        height: 14px;
        margin: 0 5px;
      }

      p {
        width: 100%;
        font-size: 1.3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      border-radius: 20px;
    }

    .highting:nth-of-type(2) {
      top: 83%;
    }

    .card-name {
      color: #FCCF00;
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    .card-title {
      color: #082346;
      font-size: 1.65rem;
      line-height: 22px;
    }

    .card-text {
      line-height: 18px;
      height: 37px
    }

    .card-author {
      margin-top: 5px;
      color: #000;
      font-size: 1.2rem;
    }

    .price-container {
      display: flex;
      margin-top: 7px;

      .price {
        color: red;
        font-size: 2rem;
        font-weight: bold;
        margin-right: 10px;
      }

      .price::after {
        content: "₫";
        font-size: 2rem;
      }

      .price-fake {
        font-size: 1.5rem;
        color: #757575;
        text-decoration: line-through;
      }
    }
  }

  .container-new-cource,
  .container-best-sold,
  .container-english {
    overflow-x: hidden;
  }

  .row-new-cource,
  .row-best-sold,
  .row-english {
    width: 1705px;
  }


  .cource-highting {
    .tab-content {
      margin-top: 20px;
      padding-left: 10px;
      // overflow-x: hidden;
      .highting:nth-of-type(1) {
        visibility: hidden;
      }

      .highting:nth-of-type(2) {
        top: 80% !important;
        background-color: #06c167;
        color: #fff;
        margin-left: 10px;
      }
    }
  }
}

.box-felling {
  display: grid;

  .title-box-felling {
    p {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0px;
      color: #000;
    }
  }
}
.card-box-felling{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 100px;
  overflow-x: hidden;
}
.owl-item{
  width: 306.667px;
  margin-right: 10px;
}
.item-feedback{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quote-icon{
  text-align: center;
  margin-bottom: 25px;
  display: inline-block;
 svg{
  width: 25px;
 }
}
.hachium{
  text-align: center;
}
.feedback-ava{
border: 2px solid #ebb129;
width: 50px;
height: 50px;
border-radius: 50%;
}
.description-fell{
  font-size: 14px;
  text-align: center;
  color: #69727b;
  line-height: 1.5;
  margin-bottom: 25px;
}
.name_learner{
  font-size: 14px;
}